@model Contato
@{
    ViewData["Title"] = "Confirma apagar o Contato";
}

<form asp-controller="Contato" asp-action="Apagar" method="post">
    <div class="text-center">
        <h3>Realmente deseja apagar o contato? (@Model.Nome)</h3>
        <input type="hidden" asp-for="Id" />
        <button class="btn btn-block btn-danger w-100" role="button" asp-controller="Contato" asp-action="Index">Cancelar</button>
        <button class="btn btn-block btn-success mt-2 w-100" role="button" asp-controller="Contato" asp-action="Apagar">Confirmar</button>
    </div>
</form>

