@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Confirma apagar o Contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato? (Patrick Navega)</h3>
    <button class="btn btn-block btn-danger" role="button">Cancelar</button>
    <button class="btn btn-block btn-success" role="button">Confirmar</button>
</div>

